.fullheight {
  height: 100%;
  width: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}
label#rounded{border-radius:15px; }

div#container{width: 300px; margin-left:auto; margin-right: auto; }

.background-login {
  max-width: 80%;
  max-height: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 100px;
}
