<ion-header>
  <ion-toolbar color="danger" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content scrollY="false" class="row view-class">
    <div class="col background-login">
      <img src="https://cdn.pixabay.com/photo/2018/09/06/10/02/car-icon-3657902_1280.png">
    </div>
    <section class="col-sm-8 col-sm-offset-2 fullheight xc">
      <form [formGroup]="LoginForm" (ngSubmit)="onSignInUSer()">
        <p>{{ message }}</p>
        <p>{{ messageError.get('role') }}</p>
         <ion-card>
           <div class="form-group">
             <ion-item-group>
               <ion-item-divider color="danger">
                 <ion-label position="stacked">Email</ion-label>
               </ion-item-divider>
               <ion-item>
                 <ion-input type="email" formControlName="email" placeholder="  user@example.com" class="form-control" size="100"></ion-input>
               </ion-item>
               <span class="text-danger"><p>{{ messageError.get('email') }}</p></span>
             </ion-item-group>
           </div>
           <div class="form-group">
             <ion-item-group>
               <ion-item-divider color="danger">
                 <ion-label position="stacked">Password</ion-label>
               </ion-item-divider>
               <ion-item>
                 <ion-input type="password" formControlName="password" placeholder="  password" class="form-control" size="100"></ion-input>
               </ion-item>
               <span><p>{{ messageError.get('password') }}</p></span>
             </ion-item-group>
           </div>
         </ion-card>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" [disabled]="LoginForm.invalid">Sign In</ion-button>
            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
          </ion-col>
        </ion-row>
      </form>
    </section>
  </ion-content>


