<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="row view-class">
  <section class="col-sm-8 col-sm-offset-2">
      <form [formGroup]="registerForm" (ngSubmit)="onSignUpUser()">
        <ion-card>
          <p>{{ message }}</p>
        <div class="form-group">
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label position="stacked">first name</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input type="text" formControlName="first_name" placeholder=" first name" class="form-control" size="100"></ion-input>
            </ion-item>
            <span><p>{{ messageError.get('firstName') }}</p></span>
          </ion-item-group>
        </div>
        <div class="form-group">
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label position="stacked">last name</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input type="text" formControlName="last_name" placeholder=" last name" class="form-control" size="100"></ion-input>
            </ion-item>
            <span><p>{{ messageError.get('lastName') }}</p></span>
          </ion-item-group>
        </div>
        <div class="form-group">
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label position="stacked">username</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input type="text" formControlName="username" placeholder=" username" class="form-control" size="100"></ion-input>
            </ion-item>
            <span><p>{{ messageError.get('username') }}</p></span>
          </ion-item-group>
        </div>
        <div class="form-group">
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label position="stacked">Email</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="  user@example.com" class="form-control" size="100"></ion-input>
            </ion-item>
            <span><p>{{ messageError.get('email') }}</p></span>
          </ion-item-group>
        </div>
        <div class="form-group">
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label position="stacked">Password</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="  password" class="form-control" size="100"></ion-input>
            </ion-item>
            <span><p>{{ messageError.get('password') }}</p></span>
          </ion-item-group>
        </div>
        </ion-card>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="registerForm.invalid">Sign Up</ion-button>
      </ion-col>
    </ion-row>
      </form>
  </section>
</ion-content>
